{% extends 'base.html.twig' %}

{% block title %}Currencies{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            Offset
        </div>
        <div class="col-6">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Rates</th>
                </tr>
                </thead>
                <tbody>
                {% for key,entity in entities %}
                    <tr>
                        <th scope="row">{{ 1 + key }}</th>
                        <td>{{ entity.code }}</td>
                        <td>({{ entity.name }})</td>
                        <td>
                            <a href="{{ path('diagram_rate', {'currencyId': entity.id}) }}" title="{{ entity.name }}" class="btn btn-success">
                                Diagram
                            </a>
                            <a href="{{ path('rate_index', {'currencyId': entity.id }) }}" title="{{ entity.name }}" class="btn btn-warning">
                                Rates
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}