{% extends 'base.html.twig' %}

{% block title %}{{ currency.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ currency.name|capitalize }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <canvas id="mainChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('index') }}" title="Back to currencies list" class="btn btn-primary">Back to currencies list</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/chart/Chart.bundle.min.js') }}"></script>
    <script>
        var config = {
            type: 'line',
            data: {
                labels: {{ labels|raw }},
                datasets: {{ data|raw }}
            },
            options: {
                responsive: true,
                title:{
                    display: true,
                    text: '{{ chartLabel }}'
                }
            }
        };
        window.onload = function() {
            var ctx = document.getElementById("mainChart").getContext("2d");
            window.line = new Chart(ctx, config);
        };
    </script>
{% endblock %}